h1 {
	color: rgba(0, 200, 100, 0.8);
	
/* BORDER STYLE */
/*width
color
style*/


/*	border-color: purple;
	border-width: 5px;
	border-style: solid; */
	border: 2px solid rgb(255, 100, 80);
}

h4 {
	background: rgb(255, 100, 80);

}

body {
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6yysNVaCErXD0AlN45Wy5WdH1GPzEYEbDtawfxJ-3cO-Ay1CP);
	background-repeat: no-repeat;
	background-size: cover;
}

